.Fon{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;

    background-image: url(https://mirpozitiva.ru/uploads/posts/2016-08/medium/1472042903_31.jpg);
}
.Ava img{
    margin: 20px;
    background-color: gold;
    
}
.Name{
    margin-top: 50px;
    margin-left: 40px;
    color: gold;
    font-size: 40px
}