.Menu{
    grid-area: m;
    background-color: rgb(36, 30, 43);
    margin: 1px;
    
  }
  .Menu div{
    margin: 10px;
    
  }
  .Menu a{
    color:gold;
    margin-top: 10px;
    font-style: Arial;
    font-stretch: normal;
    text-decoration:none;
  }